@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;200&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Raleway", sans-serif;
    background-color: hsl(210deg 30% 8%);
    color: #fff;
  }
  ::-webkit-scrollbar {
    width: 10px;
  }
  ::-webkit-scrollbar-track {
    background: #e0e0e0;
  }
  ::-webkit-scrollbar-thumb {
    background: #888;
  }

  .dark {
    backgroundcolor: #dfdfdf;
  }
  .sensorBox {
    position: relative;
    width: 100%;
    min-height: 30vh;
    background-color: rgba(0, 0, 0, 0.01);
    border: 1px solid #1e293b;
    border-radius: 10px;
    padding: 20px;
  }

  .sensorContainer {
    width: 100%;
    min-height: 40vh;
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    padding: 20px;
    justify-items: center;
    align-items: center;
  }
  .sensorContainer .connectorLines {
    width: 80%;
    min-height: 33vh;
    position: absolute;
    top: 10%;
    left: 10%;
    border: 2px solid green;
    border-radius: 10px;
  }
  .sensorContainer .sensorBoxMap {
    width: 100px;
    min-height: 100px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
